/*  colors */
/* #95D6FF */
/* #D6DDDE */
/* #ABADAD */
/* #D3DADA */

.widget {
  background-color: #fdfdfd;
  padding: 20px 10px;
  min-height: 100vh;
  box-shadow: 10px 5px 55px 20px #aaaaaa;
}

@media only screen and (min-width: 600px) {
  .widget {
    max-width: 80%;
    margin: 1% auto;
  }
}

.widget__input {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.widget__input--icon {
  display: flex;
  align-items: center;

  margin: 0 15px;
  font-size: 40px;
  color: rgb(121, 113, 113);
}

.widget__input--field {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.widget__input--field-in {
  /* display: flex;
  flex: 1; */

  outline: none;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid rgb(121, 113, 113);
}

.widget__comment {
  margin: 10px 0;
}

.widget__comment--parent {
  display: flex;
  align-items: flex-start;

  margin: 10px 0;
}
.widget__comment--parent-icon {
  display: flex;
  align-items: center;

  margin: 0 15px;
  font-size: 40px;
  color: rgb(121, 113, 113);
}

.widget__comment--parent-comment {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.widget__comment--parent-comment-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.widget__comment--parent-comment-user-left {
  display: flex;
  align-items: center;
}

.widget__comment--parent-comment-user-left-name {
  font-size: 16px;
  color: #45adee;
  margin-right: 15px;
}
.widget__comment--parent-comment-user-right {
  display: flex;
  align-items: center;
}

.widget__comment--parent-comment-user-left-stamp {
  font-size: 12px;
  color: #959a9b;
}

.widget__comment--parent-comment-user-right-edit,
.widget__comment--parent-comment-user-right-delete {
  cursor: pointer;
  margin: 0 5px;
  font-size: 20px;
  color: rgb(121, 113, 113);
}

.widget__comment--parent-comment-message {
  font-size: 15px;
  margin: 2px 0;
  color: #454747;
}

.widget__comment--parent-comment-like {
  display: flex;
  align-items: center;

  margin: 2px 0;
  color: #4f5353;
}

.widget__comment--parent-comment-like-like,
.widget__comment--parent-comment-like-dislike {
  display: flex;
  align-items: center;
}

.widget__comment--parent-comment-like-like-count,
.widget__comment--parent-comment-like-dislike-count,
.widget__comment--parent-comment-like-reply-in {
  font-size: 16px;
}
.widget__comment--parent-comment-like-like-icon,
.widget__comment--parent-comment-like-dislike-icon,
.widget__comment--parent-comment-like-reply-in {
  cursor: pointer;
}

.widget__comment--parent-comment-like-dislike,
.widget__comment--parent-comment-like-reply {
  margin-left: 10px;
}

.widget__comment--child {
  max-width: 90%;
  margin: 0 auto;
}
